{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "amd": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "arrow-spacing":"error",
    "comma-spacing":"warn",
    "newline-before-return":"error",
    "no-var":"error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-return-assign":"error",
    "no-undef":"error"
  }
}